@import url('./components-vfl8-dnlf.css');
/* This loads **after** `components.css` because it contains all the legacy color tokens */
@import url('./legacy-token-migration-vfl1sMmEL.css');
@import url('./logos-vflfhQHCK.css');
@import url('./icons-vflvjuMT7.css');
@import url('./foundations-tokens-vflGMaart.css');
@import url('./foundations-components-vflTbhPB8.css');
@import url('./content-icons-vflfpI50U.css');
/* For any images that are circle cropped, scale them up a bit so that they're still cropped as a squircle */
.dig-Avatar-image--modern[src*='circle_crop=1'],
.dig-Avatar-image--modern[srcset*='circle_crop=1'] {
    transform: scale(1.075);
}
